.content {
    display: flex;
    flex-direction: column;
}

.content img {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}

.file {
    display: flex;  
    align-items: center; 

    height: 60px;
    width: 100%;
    


    padding: 5px;

    transition: 0.2s;
}




.borderline_content {
    background-color: #383838;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 1px;
    
}

.headercontent {
    margin: 0;

    display: flex;
    align-items: center;

    height: 25px;

    border-bottom: 1px solid #555555;
    color: #7c7c7c;

    font-size: medium;
}

.name,
.size,
.modified {
    height: 100%;
    border-right: 1px solid #555555;
}


.name,
.filename {
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: start;

    padding-left: 7px;
}

.size,
.filesize {
    display: flex;
    justify-content: start;

    padding-left: 7px;
    width: 90px;
}

.filesize,
.modfile {
    color: #838383;
}

.modified,
.modfile {
    display: flex;
    justify-content: end;

    padding-right: 7px;
    width: 90px;
}

.modified {
    justify-content: end;

    padding-right: 7px;
    width: 90px;
}

.star img {
    display: flex;
    
    width: 20px;
    height: 20px;

    margin: 7px;
}
