.content {
    display: flex;
    flex-direction: column;
}

.content img {
    width: 40px; 
    height: 40px;
    margin-right: 10px;
}

.file {
    display: flex;  
    align-items: center;  

    padding: 5px;

    transition: 0.2s;
}

.borderline_content {
    background-color: #383838;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 1px;
    
}

.file:hover {
    background-color: rgb(66, 59, 110);
}



.headercontent {
    display: flex;

    height: 20px;

    border-bottom: 1px solid #555555;
    color: #7c7c7c;
}