:root {
    --clock-height: 25px;
    --clock-width: 180px;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(../res/wallpaper.jpg);

    background-size: cover;

    margin: 0;
    overflow: hidden;
}

.window {
    width: 1000px;
    height: 700px;
    background-color: #2D2D2D;
    margin: 5px 25px 5px 25px;
    border-radius: 10px;

    border: 1px solid #070707;

    display: grid;
    
    grid-template-columns: 2fr 6fr; 
    grid-template-rows: 0.7fr 10fr; 

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    
    color: #C2C2C2;
    
}

.header {
    grid-area: 1 / 1 / 2 / 3; 

    z-index: 2;

    height: 45px;

    background-image: linear-gradient(to bottom,#333333,#262626);

    
    border-radius: 10px 10px 0 0;

    outline:1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.panel,
.control,
.pref,
.move {
    z-index: 3;
}


.sidebar {
    grid-area: 2 / 1 / 3 / 1; 
    background-color: #313131;
    border-radius: 0 0 0 10px;
}

.sections {
    display: flex;
    flex-direction: column;
}

.sections *{
    margin: 1px 0 1px 0;
    padding: 3px 4px 3px 4px;
}

.content {
    grid-area: 2 / 2 / 3 / 2; 
    border-left: 1px solid #070707;
}   

.img {
    color: white;
}

.borderline{
    background-color: #292929;
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 1px;
    
}

.item {
    display: flex;
    align-items: center;
    transition: 0.2s ease-out;
}

#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 25px;
    background-color: #070707;
    
}

#clock,
.toptext {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

#clock {
    width: var(--clock-width);
    height: var(--clock-height);

    position: absolute;

    top: 2px;
    left: calc(50% - var(--clock-width)/ 2);

    letter-spacing: 1px;
}

.newbutton {
    justify-self: flex-start;

    width: 50px;
    height: 20px;

    margin: 2px;
    background-color: #292929;
    border-radius: 10px;
    border: 1px solid black;
}